---
import { Image } from 'astro:assets';
import carlosImage from '../assets/carlos.png'

import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.vue';
---

<Layout title="Portfolio | Carlos Marques">
	<div class="rounded-lg bg-brand-lightest relative">
		<div class="flex flex-col p-8">
			<h2 class="font-medium text-xl">Software Engineer & Designer</h2>
			<div class="flex flex-col gap-3 mt-10">
				<h1 class="font-semibold text-4xl">Carlos Marques</h1>
				<p class="text-brand-grayDark text-sm">
					Software Engineer & Designer from Portugal.<br/>
					I create beautiful and performant products.<br/>
					Also teach about Bitcoin. 
				</p>
				<ul class="flex gap-4 items-center">
					<Button to="/contact/" text="Contact Me" variant="primary" />
				</ul>
			</div>
			<div class="absolute top-4 right-6 drop-shadow-2xl">
				<img src={carlosImage.src} alt="Carlos Marques" />
			</div>
		</div>
		<div class="rounded-lg bg-brand-lighter my-10 p-6 mx-2 relative z-10">
			<h2 class="font-medium text-xl">Projects</h2>
		</div>
	</div>
</Layout>
