---
import { Image } from 'astro:assets'

import Layout from '../../layouts/Layout.astro'
import ProjectLayout from '../../layouts/ProjectLayout.vue'
import TechnologyButton from '../../components/TechnologyButton.vue'

import kurika from '../../assets/kurika.png'
import kurikaImage1 from '../../assets/kurika/kurika1.png'

import adobe from '../../assets/adobe.png'
---

<Layout title="Kurika | Carlos Marques" page="none">
  <ProjectLayout
    client:load
    title="Kurika"
    description="Meet Kurika, a groundbreaking Proof of Concept for a mobile application that reimagines social interaction within groups. Kurika allows users to create and manage groups, fostering communication, entertainment, and collaboration among members. This concept focuses on enhancing group dynamics through various features."
    intro="Kurika offers a multitude of features, including group messaging, playlist sharing, group game recording, and competitive ranking. Users can access a shared agenda and calendar, enabling seamless coordination. Additionally, location sharing enhances group activities and connectivity, making Kurika a unique and engaging social platform."
    problem="Traditional social media platforms often lack features for group-centric communication and collaboration. Coordinating group activities, sharing playlists, and maintaining an agenda can be disjointed and inefficient across multiple apps. This gap in group-focused social media experiences inspired the creation of Kurika."
    solution="Kurika bridges this gap by providing a comprehensive solution for group interaction. With features tailored to group dynamics, Kurika simplifies communication, entertainment, and organization within groups. Our Proof of Concept showcases the potential of a mobile application designed to enhance group cohesion and foster meaningful connections among its members."
  >
    <Image src={kurika} alt="Kurika" class="w-[48px] h-[48px]" />
    <Image
      src={kurikaImage1}
      alt="Kurika Design"
      class="w-full rounded-md"
      slot="image1"
    />
    <div
      class="grid-cols-4 sm:grid-cols-5 grid md:grid-cols-6 gap-2"
      slot="technologies"
    >
      <TechnologyButton to="https://www.adobe.com/">
        <Image src={adobe} alt="Adobe" title="Adobe" />
      </TechnologyButton>
    </div>
  </ProjectLayout>
</Layout>
